<h1>Register</h1>

<%= form_with model:@users do |f|%>
    
    <% if @users.errors.any? %>
        
        <% @users.errors.full_messages.each do |message| %>
            <p><%= message%></p>
        <% end %>

    <% end %>
    <div>
    <%= f.label :username, "username" %>
    <%= f.text_field :username %>
    <%= f.label :password, "password" %>
    <%= f.password_field :password %>
    <%= f.submit %>
    </div>
<% end %>

